table 
{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td 
{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}

.small-col {
    width: 80px; 
}

.wide-col {
    width: 250px; 
}

th 
{
    background-color: #f2f2f2;
}